/* Basic CSS for table styling */
table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    margin-right: 5px;
}